<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form>
    <table>
<tr>
<td>Name</td>
<td><input type=text name=textnames id="textname" size="30"></td>
</tr>

<tr>
<td>DOB</td>
<td><input type="text" name="dob" id="dob" size="30"></td>
</tr>

<tr>
<td>Age</td>
<td><input type="text" name="age" id="age" size="30"></td>
</tr>

<tr>
<td>Gender</td>
<td><input type="radio" name="sex" value="male" size="10">Male
<input type="radio" name="sex" value="Female" size="10">Female</td>
</tr>

<tr>
<td>Mobile No</td>
<td><input type="text" name="mobileno" id="mobileno" size="30"></td>
</tr>

<tr>
<td>Email Id</td>
<td><input type="text" name="emailid" id="emailid" size="30"></td>
</tr>

<!--<tr>-->
<!--<td>Postal Address</td>-->
<!--<td><input type="text" name="paddress" id="paddress" size="100"></td>-->
<!--</tr>-->

<tr>
<td>Address</td>
<td valign="middle" align="left"><textarea></textarea></td>
</tr>

<tr>
<td>District</td>
<td><select name="District">
<option value="-1" selected>select..</option>
<option value="Trivandrum">Trivandrum</option>
<option value="Kollam">Kollam</option>
<option value="Ernakulam">Ernakulam</option>
<option value="Kottayam">Kottayam</option>
<option value="Thrissur">Thrissur</option>
</select></td>
</tr>

<tr>
<td>Branch</td>
<td><select name="District">
<option selected disabled>--Select Branch--</option>
<optgroup label="Trivandrum">
        <option>East Fort</option>
        <option>Kovalam</option>
    </optgroup>
    <optgroup label="Kollam">
        <option>Shasthamkotta</option>
        <option>Polayathode</option>
    </optgroup>
        <optgroup label="Ernakulam">
        <option>Fort Kochi</option>
        <option>Kadavanthara</option>
        </optgroup>
            <optgroup label="Kottayam">
        <option>Kumarakom</option>
        <option>Vagamon</option>
            </optgroup>
                <optgroup label="Thrissur">
        <option>Kunnamkulam</option>
        <option>Kodungalloor</option>

    </optgroup>
</select></td>
</tr>


<tr>
<td>Account Type</td>
<td><select name="Account Type">
<option value="-1" selected>select..</option>
<option value="Savings Account">Savings Account</option>
<option value="Current Account">Current Account</option>
</select></td>
</tr>



<tr>
<td>Materials Provide</td>
<td><input type="checkbox" name="checkbox" value="debitcard" size="10">Debit Card
<input type="radio" name="checkbox" value="Credit Card" size="10">Credit Card
<input type="radio" name="checkbox" value="Credit Card" size="10">Cheque Book</td>
</tr>


<tr>
<td><input type="submit" value="Submit" onclick="return confirm('Application Accepted')"/></td>



<!--    <td><input type="submit"  value="Logout"></td>-->
    <td><a href="/"><button>Logout</button></td></a>

</tr>
</table>
</form>



<!--     <a href="/">-->
<!--    <button>Logout</button>-->
<!--    </a>-->
</body>
</html>